.game-screen {
  width: 100%;
  height: 100%;
  background-color: #222;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-screen.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.hud {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: monospace;
  /* Debug text */
}

.game-center {
  color: white;
  font-size: 2rem;
  text-align: center;
}