.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

.splash-screen.fade-in {
  opacity: 1;
  animation: fadeIn 1s ease-in-out;
}

.splash-screen.fade-out {
  opacity: 0;
}

.splash-title {
  font-size: 4rem;
  font-weight: bold;
}

.splash-footer {
  position: absolute;
  bottom: 2rem;
  font-size: 1.2rem;
  opacity: 0.8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
