.pause-menu-scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Light black scrim */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.pause-menu-container {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
